#vbox2,#vbox1,#vbox3{
    -fx-background-color: #ffae19;
    -fx-border-width: 1;
    -fx-border-color: black;
}
#text {
    -fx-font: 100px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}