/*
 * Empty Stylesheet file.
 */

/*.mainFxmlClass {
 -fx-background-image:url('/mnd/images/background.jpg');
-fx-background-color:black;
}*/
.root{
  -fx-background-image:url('/mnd/images/background.jpg');
  -fx-background-site:cover;
}