/*
 * Empty Stylesheet file.
 */
.mainFxmlClass {

}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-background-color:#292F35;
    -fx-stroke: transparent;
    -fx-size:50;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;
   

}
.table-row-cell:filled:hover {

    -fx-size:50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;


}
.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 30;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 

}
.table-view .column-header-background .label{
    -fx-background-color: transparent; 
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

.table-row-cell:hover , .table-row-cell:selected{
    -fx-background-color:rgb(0.0,191.0,255.0);
     -fx-background-color:#ffae19;
}
.table-row-cell:hover:selected .text,.table-row-cell:focused:selected .text{
    -fx-fill:#292F35;
}
.table-row-cell{ 
    -fx-table-cell-border-color: transparent;
}
.table-row-cell:empty {
    -fx-background-color:rgb(0.0,191.0,255.0);
     -fx-background-color:transparent;
}
.table-row-cell:empty .table-cell  {
    -fx-border-width : 0px;
}


