.sidebar-icon{
    -fx-fill:#292F35;
}
.sidebar-icon:hover{
    -fx-fill:#2BBFBD;
}
.online-dot{
    -fx-background-color: #00cc33;
    -fx-background-radius: 100%;    
}
#vbox_style {
  -fx-spacing:15;
/*  -fx-background-color:white;*/
}
   
 
 #hbox {
    -fx-background-color: white;
    -fx-padding: 5;
    -fx-spacing: 100;
    -fx-border-radius:20;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-insets: 1;
    -fx-border-width: 1;
}
#im_style{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-background-color: white;
    -fx-background-radius: 50;
}
#label_style{
    
    -fx-text-fill: black;
   
    -fx-font-size: 1.8em;
    -fx-font-family:Quicksand;
}
#lb_profile_style{
     -fx-background-color: white;
    -fx-padding: 5;
    -fx-spacing: 100;
    -fx-border-radius:20;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-insets: 1;
    -fx-border-width: 1;
    -fx-min-width:300;
    -fx-max-width:300;
}
